th {
    border-bottom : none !important;
    font-size: 12px !important;
}

tr {
  height: 50px;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px !important;
    text-align: center !important;
    border-radius: 50px;
    border: 1px solid #adcce9;
    border-bottom: 1px solid #adcce9 !important;
    line-height: 0.1;
    height: auto !important;
}
