* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.site {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  object-fit: cover;
  object-position: center center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  scrollbar-width: 0;
  scrollbar-color: transparent transparent;
}
